/*
 * SIGNUP_STYLESHEET.CSS
 *
 * @author Sade Jn Baptiste
 * @author Lakshmi Kotikalapudi
 * @author Andy Nguyen
 * @author Shivani Samarla
 * @author Emmanuel Taylor
 *
 * @description
 *    Controls decoration of the User Sign Up and Login View.
 */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px gray;
    text-align: center;
}

body {
    background-color: #FFFFDD;
    text-align: center;
}

input[type=text], input[type=password], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-size: 18px;
} 

input[type=submit], button {
    background-color: #004D1A;
    width: 100%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

input[type=submit]:hover, button:hover {
    background-color: #CC9900; 
}

button {
    background-color: #3366FF;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #CC9900;
}

p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}